@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
    background-color: #272b30;
    font-family: 'Montserrat', sans-serif;
}
header {
    margin-bottom: 6em;
}
nav > a {
    font-family: 'Lexend', sans-serif;
}
.nav-link {
    color: #b9b9b9;
    font-size: 1.1em;
}
.nav-link:hover {
    color: #e7e7e7;
}
.dropdown-menu {
    border-radius: 0px;
    border: 0ch;
    background-color: #343a40;
}
.dropdown-item {
    color: #b9b9b9;
    font-size: 1em;
}
.dropdown-item:hover {
    background-color: #343a4000;
    color: #e7e7e7;
    transition: 0.5s;
}
.bi {
    color: #b9b9b9;
}
article {
    font-family: 'Montserrat', sans-serif;
    margin: 1em auto;
    padding: 4em 2em;
    background-color: #484c508f;
    border-radius: 2em;
    text-align: center;
    min-width: 300px;
    max-width: 1080px;
}
h1{
    font-size: 1.9em;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.5em;
}
p{
    color: #b9b9b9;
    font-size: 1.4em;
    margin: 1.6em;
}
#title{
    color: #e89bff;
    margin-bottom: 1em;
}
.projeto{
    border: 0.1em solid #e89bff;
    border-radius: 1em;
    padding: 0.5em;
    width: 40em;
    margin: auto;
}
.projeto a{
    color: #b9b9b9;
    font-size: 1.2em;
}
.projeto a:hover{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.app{
    border-radius: 2em;
}
footer{
    background-color: #261830;
    padding: 1em 6em;
}
footer #fatec{
    text-align: center;
}
#footer-imgs {
    justify-content: center;
}
#footer-imgs .bi:hover{
    color: white;
    transition: 0.5s;
}