@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root{
    --cor0: #272b30;
    --cor1: #343a40;
    --cor2: #b9b9b9;
    --cor3: #e7e7e7;
    --cor4: #343a4000;
    --cor5: #484c508f; 
    --titulo: #e89bff; 
    --jinx: #3985B1;
    --bardo: #DBB17A;
    --irelia: #F3A0A6;
    --github: #9b58e7;
    --linkedin: #0A66C2; 
    --spotify: #22C95C;
    --instagram: #D52C66;
    --footer: #261830; 
    --fonte-header: 'Lexend', sans-serif;
    --fonte-body: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-body);
    overflow-x: hidden;
}
header {
    margin-bottom: 6em;
}
nav > a {
    font-family: var(--fonte-header);
}
.nav-link {
    color: var(--cor2);
    font-size: 1.1em;
}
.nav-link:hover {
    color: var(--cor3);
}
.dropdown-menu {
    border-radius: 0px;
    border: 0ch;
    background-color: var(--cor1);
}
.dropdown-item {
    color: var(--cor2);
    font-size: 1em;
}
.dropdown-item:hover {
    background-color: var(--cor4);
    color: var(--cor3);
    transition: 0.5s;
}
.bi {
    color: var(--cor2);
}
article {
    font-family: var(--fonte-body);
    margin: 1em auto;
    padding: 4em 2em;
    background-color: #484c508f;
    border-radius: 2em;
    text-align: center;
    min-width: 300px;
    max-width: 1080px;
}
#title{
    color: #e89bff;
    margin-top: 3em;
    margin-bottom: 1em;
}
h1{
    font-size: 2.2em;
    margin: 1em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.2em;
    font-weight: bold;
}
article p{
    color: var(--cor2);
    font-size: 1.2em;
}
#g img{
    opacity: 50%;
    border-radius: 20em;
}
#g img:hover{
    opacity: 80%;
    transition: 1s;
}
footer{
    background-color: var(--footer);
    padding: 1em 6em;
}
footer #fatec{
    text-align: center;
}
#footer-imgs a{
    margin: auto ;
}
#footer-imgs .bi:hover{
    color: white;
    transition: 0.5s;
}

