@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
main{
    font-family: 'Libre Baskerville', serif;
    background-color: #d4c4b2;
    padding: 2em;
}
header{
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}
h1{
    text-align: center;
    padding: 0.5em;
}
h2{
    text-align: center;
    padding: 0.5em;
}
article{
    background-color: #8a79759f;
    border-radius: 3em;
    margin: 1.5em;
    padding: 2em;
    font-size: 1.4em;
}
article ol li{
    padding: 0.5em;
    list-style-type: none;
}
article a{
    text-decoration: none;
    color: #443f38;
}
article a:hover{
    transition: 0.5s;
    text-decoration: underline #3f3a33;
    color: #201e1a;
}
.nav-mapa li{
    border: solid 0.1em;
    width: fit-content;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 0.8em;
}
#shop {
    justify-content: center;
    text-align: center;
}
.brand{
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
}
footer{
    background-color: #39312E;
    padding: 2em 4em;
    text-align: center;
}
footer .row{
    margin: 0em 4em;
}
footer .col{
    margin: 0.5em;
}
footer a{
    color: #b9aea0;
}
footer a:hover{
    color: #faebd7;
    transition: 0.5s;
}