@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
body{
    font-family: 'Libre Baskerville', serif;
}
main{
    font-family: 'Libre Baskerville', serif;
    overflow: hidden;
}
#title{
    text-align: center;
    padding: 0.5em 0.5em;
}
#produto h2{
    font-size: 1.7em;
    margin-top: 0.2em;
}
header{
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}
.pagination a{
    color: #4A4A4B;
    font-family: 'Libre Baskerville', serif;
}
.pagination{
    text-align: center;
    justify-content: center;
    margin-top: 3em;
}
.pagination a:hover{
    color: black;
    transition: 0.5s;
}
#produto a{
    text-decoration: none;
    color: black;
}
.row .col{
    margin: 1em 2.4em;
}
#produto img{
    border-radius: 2em;
    margin: 2em;
}
#produto div{
    border: 0.2em solid #39312E;
    border-radius: 2em;
    padding: 0.5em;
    text-align: center;
    

}
#price{
    margin: 0.5em 0em 0.1em 0em;
}
#quant{
    margin: 0;
    font-size: 0.9em;
}
.modalDialog {
	position: fixed;
	font-family: 'Libre Baskerville', serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.699);
	z-index: 99999;
	opacity:0;
	transition: 400ms ease-in;
	pointer-events: none;
    overflow: hidden;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 20em;
    height: 20em;
	position: relative;
	margin: auto;
	padding: 1em;
	border-radius: 2em;
    border: solid #39312E 0.3em;
    background-color: #ecebe6;
}
.modalDialog .col {
    margin: 4em auto;
}
.modalDialog img{
    border-radius: 5em;
    margin-top: 1.3em;
    margin-left: -2em;
}
.modalDialog .ingredientes{
    font-size: 1em;
    margin-bottom: 1em;
}
.close {
	background: #a09982;
	color: #39312E;
	line-height: 2em;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 2em;
	text-decoration: none;
	font-weight: bold;
	border-radius: 2em;
	box-shadow: 0.2em 0.1em 0.2em rgba(0, 0, 0, 0.637);
    font-family: 'Times New Roman', Times, serif;
}
.close:hover { 
    color: #39312E;
    background: #b4aa8c; 
    transition: 0.5s;
}
.brand{
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
}
footer{
    background-color: #39312E;
    padding: 2em 4em;
    text-align: center;
}
footer .col{
    margin: 0.5em;
}
footer a{
    color: #b9aea0;
}
footer a:hover{
    color: #faebd7;
    transition: 0.5s;
}

