@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
main{
    font-family: 'Libre Baskerville', serif;
}
header{
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}
h1{
    text-align: center;
    padding: 0.5em;
}
h2{
    text-align: center;
    padding: 0.5em;
}
p{
    text-align: center;
    font-size: 1.2em;
    margin: 0em 2em;
    padding: 0.5em 2em;
}
a img{
    color: #39312E;
}
.brand{
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
}
footer{
    background-color: #39312E;
    padding: 2em 8em;
    text-align: center;
}
footer .row{
    margin: 0em 4em;
}
footer .col{
    margin: 0.5em;
}
footer a{
    color: #b9aea0;
}
footer a:hover{
    color: #faebd7;
    transition: 0.5s;
}