@use '../abstract/variaveis.sass'

main
    .container-apresentacao
        margin: 0
        padding-top: 5%
        cursor: default
        display: flex
        justify-content: center
        border-bottom: 8px solid
        border-image: linear-gradient(to left, #a89187, #cd8d7b, #a89187) 5
        .container-intro
            width: 80%
            color: white
            text-transform: uppercase
            //padrao xg
            h2
                font-weight: 800
                font-size: 8.4rem
                line-height: 0.9
            h1
                font-weight: 800
                font-size: 3.8rem
            .lista-links
                display: flex
                align-items: center
                .icones-links
                    margin-left: 5px
                    a
                        text-decoration: none
                        color: white
                        .bi-linkedin:hover
                            margin-top: 10%
                            color:  #ade2ff
                            transition: 0.5s
                        .bi-github:hover
                            margin-top: 10%
                            color:  #e3b3ff
                            transition: 0.5s
                        .bi-file-earmark-text-fill:hover
                            margin-top: 10%
                            color:  #c2ffb3
                            transition: 0.5s
            .breve-intro
                p
                    font-family: 'Montserrat', sans-serif
                    text-transform: none
                    font-size: variaveis.$p-xg
                    margin-left: 5px
                    max-width: 80%
    @media (max-width: 1370px) //padrao g
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-g
                h1
                    font-size: variaveis.$h1-g
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 60px
                .breve-intro
                    p
                        font-size: variaveis.$p-g
    @media (max-width: 1000px) //padrao m
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-m
                h1
                    font-size: variaveis.$h1-m
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 55px
                .breve-intro
                    p
                        font-size: variaveis.$p-m
    @media (max-width: 880px) //padrao mm
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-mm
                h1
                    font-size: variaveis.$h1-mm
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 50px
                .breve-intro
                    p
                        font-size: variaveis.$p-mm
    @media (max-width: 720px) //padrao xmm
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-xmm
                h1
                    font-size: variaveis.$h1-xmm
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 45px
                .breve-intro
                    p
                        font-size: variaveis.$p-mm
    @media (max-width: 610px) //padrao p
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-p
                h1
                    font-size: variaveis.$h1-p
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 40px
                .breve-intro
                    p
                        font-size: variaveis.$p-mm
    @media (max-width: 570px) //padrao pp
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-pp
                h1
                    font-size: variaveis.$h1-pp
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 35px
                .breve-intro
                    p
                        font-size: variaveis.$p-p
    @media (max-width: 480px) //padrao xpp
        .container-apresentacao
            .container-intro
                h2
                    font-size: variaveis.$h2-xpp
                h1
                    font-size: variaveis.$h1-pp
                .lista-links
                    .icones-links
                        a
                            .bi
                                width: 28px
                .breve-intro
                    p
                        font-size: variaveis.$p-p