@use '../abstract/variaveis.sass'
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500;700;800&display=swap')

main
    .container-projetos
        display: flex
        justify-content: center
        margin-top: 40px
        .projeto
            text-align: center
            .descricao-projeto
                margin-top: 20px
                .link-projeto
                    font-family: 'Libre Baskerville', serif
                    font-size: 28px
                    padding: 15px 
                    border: 2px solid #3b3634
                    border-radius: 30px
                    color: #3b3634
                    text-decoration: none
                    text-transform: uppercase
                    text-align: center
                    font-weight: 800
                    &:hover
                        color: #5c4841
                        border-color: #5c4841
                        transition: 0.5s
                p
                    margin-top: 20px
                    font-size: 22px







                

