@use '../abstract/variaveis.sass'
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500;700;800&display=swap')

main
    .container-projetos
        display: flex
        justify-content: center
        margin-top: 40px
        .projeto
            cursor: default
            text-align: center
            img
                width: 100%
            .descricao-projeto
                margin-top: 20px
                .link-projeto
                    font-family: 'Libre Baskerville', serif
                    font-size: 1.5rem
                    padding: 20px 
                    border-width: 5px
                    border-style: solid
                    border-image: linear-gradient(to right, #3b3634, #a89187) 1
                    color: #3b3634
                    text-decoration: none
                    text-transform: uppercase
                    text-align: center
                    font-weight: 800
                    &:hover
                        border-width: 5px
                        border-image: linear-gradient(to top, #a89187, #3b3634) 4
                        transition: 0.5s
                @media (max-width: 770px)
                    .link-projeto
                        font-size: 24px
                @media (max-width: 550px)
                    .link-projeto
                        font-size: 22px
                @media (max-width: 440px)
                    .link-projeto
                        font-size: 20px
                p
                    margin: 20px 
                    font-size: 24px
                @media (max-width: 770px)
                    p
                        font-size: 22px
                @media (max-width: 550px)
                    p
                        font-size: 20px
                @media (max-width: 440px)
                    p
                        font-size: 16px






                

