@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&family=Inconsolata:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$cor-2: #b9b9b9;
$title: #FFE3BA;
$title-highlight: #fae7ca;
$footer: #0e1013;

footer{
    background-color: $footer;
    text-align: center;
    padding: 2em;

    & a{
        color: $cor-2;
    }

    & a:hover{
        color: $cor-2;
    }

    & #footer-imgs{
        justify-content: center;
        color: $title;
    }

    & .col{
        margin: 0.5em;
    }

    & #footer-imgs .bi:hover{
        color: white;
        transition: 0.5s;
    }
}
