@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&family=Inconsolata:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$cor-0: #000000;
$cor-1: #343a40;
$cor-2: #b9b9b9;
$cor-3: #e7e7e7;
$cor-4: #343a4000;
$cor-5: #47494d59;
$bg: #0e101333;
$title: #FFE3BA;
$title-highlight: #fae7ca;
$github: #9b58e7;
$linkedin: #0A66C2; 
$spotify: #22C95C;
$instagram: #D52C66;
$fonte-header: 'Silkscreen', cursive;
$fonte-body: 'Silkscreen', cursive;
$fonte-email: 'Courier New', Courier, monospace;
$footer: #0e1013;

body {
    background-color: #000000;
    font-family: $fonte-body;
    overflow-x: hidden;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header {
    font-family: $fonte-header;
}

.bg{
    background-color: $bg;
}

nav > a {
    font-family: $fonte-header;
}

.nav-link {
    color: $title;
    font-size: 1.1em;

    &:hover {
        color: $title-highlight;
    }
}

.bi{
    color: $title;
}

article {
    font-family: $fonte-body;
    margin: 1em auto;
    padding: 2em 2em;
    background-color: $cor-5;
    border-radius: 2em;
    text-align: center;
    min-width: 300px;
    max-width: 1080px;

    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        color: $cor-2;
        font-size: 1.2em;
        
        .email{
            margin-top: 1em;
            font-size: 1.1em;
        }
    }
}

.lista1 ul{
    list-style-type: none;
    font-size: 5em;
}

.title{
    font-family: $fonte-header;
    color: $title;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1.6em;
}


#conhecimentos {
    & div{
        margin: 1.5em auto;
        border: 0.1em solid $title;
        border-radius: 1em;
        padding: 0.6em;
        width: fit-content;
    }

    & .certificado{
        color: $cor-2;
        font-size: 1.1em;
        font-weight: bold;
        padding: 0.5em;

        &:hover{
            text-decoration: none;
            color: white;
            transition: 0.5s;
        }
    }
}

.sobre > .sobre-text{
    display: flex;
    flex-direction: row;
}

.sobre-img > img{
    height: 55%; 
    width: 55%; 
    object-fit: contain;
    margin: 1em;
    border-radius: 30em;
}

.bi-link-45deg {
    color: $title;
}

.links .social{
    margin: 1em;
}

.social {
    a{
        color: $cor-2;
    }
    
    .bi-github:hover {
        color: $github;
        transition: 1s;
    }

    .bi-linkedin:hover {
        color: $linkedin;
        transition: 1s;
    }

    .bi-spotify:hover {
        color: $spotify;
        transition: 1s;
    }

    .bi-instagram:hover {
        color: $instagram;
        transition: 1s;
    }
}

.bi-envelope{
    color: $title;
}

.email-item{
    font-size: 1.1em;
    font-family: $fonte-email;
    font-weight: 700;
}
#mapa .bi{
    color: $title;
    margin-bottom: 1em;
}
#maps iframe{                          
    margin: auto;
    border: 0;
    border-radius: 2em;
}
.logo-body {
    text-align: center;
    padding-bottom: 1em;
}