@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&family=Inconsolata:wght@200;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700;800;900&display=swap');

body {
  background: hsla(141, 81%, 87%, 1);

  background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F7D486", GradientType=1 );
  overflow-x: hidden;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header {
  font-family: 'Montserrat', sans-serif;
}
nav > a {
  font-family: 'Montserrat', sans-serif;
}

.apresentacao{
  margin: 60px 10px 60px 60px;
}

.apresentacao .intro{
  color: white;
  text-transform: uppercase;
}
.breve-intro{
  max-width: 68%;
}


.apresentacao .intro h2{
  padding: 0em;
  margin: 0em;
  font-weight: 800;
  font-size: 10vw;
  line-height: 0.9;
}
.apresentacao .intro h1{
  font-weight: 800;
  font-size: 4vw;
}

.lista-links .icones-links ul li{
  list-style-type: none;
  display: inline;
  text-align: left;
}

.icones-links{
  text-align: left;
}

.icones-links ul li a{
  text-decoration: none;
  color: white;
  
}

.breve-intro p{
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-size: 2vw;
  margin-left: 5px;
}

.icones-links ul li a .bi-linkedin:hover{
  margin-top: 10%;
  color:  #ade2ff;
  transition: 0.5s;
}

.icones-links ul li .bi-github:hover{
  margin-top: 10%;
  color:  #e3b3ff;
  transition: 0.5s;
}

.icones-links ul li .bi-file-earmark-text-fill:hover{
  margin-top: 10%;
  color:  #c2ffb3;
  transition: 0.5s;
}

.lista-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.lista-links > .icones-links .bi{
  margin-top: 20%;
}
.icones-links li{
  margin-right: 1vw;
}


.telas {
  margin-left: 60px;
}

.telas .tela1 img{
  margin-right: 20px;
}

article {
  font-family: 'Montserrat', sans-serif;
  margin: 10% auto;
  padding: 25px;
  border-radius: 2em;
  text-align: center;
  min-width: 300px;
  max-width: 1080px;
}

article p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #b9b9b9;
}

.lista1 ul {
  list-style-type: none;
  font-size: 5em;
}

#conhecimentos div {
  margin: 1.5em auto;
  border: 0.1em solid #FFE3BA;
  border-radius: 1em;
  padding: 0.6em;
  width: -moz-fit-content;
  width: fit-content;
}
#conhecimentos .certificado {
  color: #b9b9b9;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em;
}
#conhecimentos .certificado:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.sobre > .sobre-text {
  display: flex;
  flex-direction: row;
}

.logo-body {
  text-align: center;
  padding-bottom: 1em;
}/*# sourceMappingURL=style.css.map */