@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700;800;900&display=swap')
 

//fonts
$main-font: 'Montserrat', sans-serif

//colors
$cor-linkedin-pastel: #ade2ff
$cor-github-pastel: #e3b3ff
$cor-curriculo-pastel: #c2ffb3

//background colors
$bg-base: hsla(141, 81%, 87%, 1)
$bg-first: hsla(141, 81%, 87%, 1) 0%
$bg-second: hsla(41, 88%, 75%, 1) 50%
$bg-third: hsla(358, 82%, 71%, 1) 100%