@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-38deg, #49322c 0%, #bb9b93 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

header .navbar {
  margin: 8px;
  font-weight: bold;
  font-size: 1.5vw;
  font-family: "Libre Baskerville", serif;
}
header .navbar .pagination {
  text-align: center;
  justify-content: center;
  margin-top: 3em;
}
header .navbar .pagination a {
  color: #3b3634;
  font-family: "Libre Baskerville", serif;
}
header .navbar .pagination a:hover {
  color: black;
  transition: 0.5s;
}
@media (max-width: 1080px) {
  header .navbar {
    font-size: 16px;
  }
}

main {
  cursor: default;
}
main .inicio {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  align-items: center;
}
main .inicio .container-titulo #titulo {
  font-family: "Libre Baskerville", serif;
  font-size: 80px;
}
main .inicio .container-logo .logo {
  padding: 20px;
}
main .descricao {
  margin-top: 30px;
  padding: 20px;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
main .descricao h2 {
  font-size: 40px;
  font-weight: bold;
}
main .descricao ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
@media (max-width: 980px) {
  main .inicio {
    display: block;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
  }
  main .inicio .container-titulo {
    text-align: center;
  }
  main .inicio .container-titulo #titulo {
    font-size: 66px;
  }
  main .inicio .container-logo {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  main .inicio .container-logo .logo {
    padding: 10px;
  }
  main .descricao {
    margin-top: 20px;
    padding: 15px;
  }
  main .descricao h2 {
    font-size: 34px;
  }
  main .descricao ul {
    font-size: 22px;
  }
}
@media (max-width: 770px) {
  main .inicio .container-titulo #titulo {
    font-size: 62px;
  }
  main .inicio .container-logo .logo {
    padding: 10px;
  }
  main .descricao h2 {
    font-size: 32px;
  }
  main .descricao ul {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  main .inicio .container-titulo #titulo {
    font-size: 50px;
  }
  main .inicio .container-logo .logo {
    padding: 10px;
  }
  main .descricao h2 {
    font-size: 30px;
  }
  main .descricao ul {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  main .inicio .container-titulo #titulo {
    font-size: 46px;
  }
  main .inicio .container-logo .logo {
    padding: 10px;
  }
  main .descricao h2 {
    font-size: 28px;
  }
  main .descricao ul {
    font-size: 16px;
  }
}

footer #footer-imgs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
footer #footer-imgs a {
  margin: 10px;
  color: #EFDFBB;
}
footer #footer-imgs a:hover {
  color: white;
  transition: 0.5s;
}
footer .copyright {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 14px;
  color: white;
  cursor: default;
}

.imagens-padukim {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.imagens-padukim .imagem {
  padding: 0;
}
.imagens-padukim .imagem img {
  width: 100%;
  border-radius: 30px 0;
}

@media (max-width: 980px) {
  .imagens-padukim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .imagens-padukim .imagem {
    margin: 10px;
  }
}
main h1, main h2 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
main .produtos {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 20px;
  gap: 28px;
}
main .produtos .produto {
  font-family: "Libre Baskerville", serif;
  background-color: rgba(255, 255, 255, 0.3411764706);
  padding: 15px;
  border: none;
  border-radius: 30px;
}
main .produtos .produto h2 {
  margin-top: 5px;
  font-size: 26px;
}
main .produtos .produto p {
  text-align: center;
  max-width: 80%;
  margin: auto;
}
main .produtos .produto a {
  text-decoration: none;
  color: #382b26;
}
main .produtos .produto img {
  border-radius: 30px;
}
main .produtos .modalDialog {
  display: none;
}

#nav-produtos {
  margin-top: 50px;
}
#nav-produtos .pagination {
  justify-content: center;
}
#nav-produtos .pagination .page-item a {
  font-weight: 600;
  color: #382b26;
}

main h1 {
  margin-top: 30px;
}
main .servicos {
  display: flex;
  justify-content: center;
}
main .servicos h2 {
  margin-top: 30px;
}
main .servicos p {
  font-size: 20px;
  text-align: center;
  margin: auto;
  max-width: 68%;
}

main h1 {
  font-size: 52px;
}
main .form-floating {
  justify-content: center;
  margin: 30px 100px;
}
@media (max-width: 980px) {
  main h1 {
    font-size: 48px;
  }
  main .form-floating {
    margin: 20px 80px;
  }
}
@media (max-width: 770px) {
  main h1 {
    font-size: 46px;
  }
  main .form-floating {
    margin: 15px 60px;
  }
}
@media (max-width: 550px) {
  main h1 {
    font-size: 44px;
  }
  main .form-floating {
    margin: 10px 30px;
  }
}
@media (max-width: 420px) {
  main h1 {
    font-size: 42px;
  }
  main .form-floating {
    margin: 10px 20px;
  }
}/*# sourceMappingURL=style.css.map */