@use '../abstract/variaveis.sass'

main
    .inicio
        padding: 20px

        .container-titulo
            max-width: 600px
            #titulo
                font-family: variaveis.$main-font
                font-size: 6vw
        .container-logo
            max-width: 300px
            .logo
                padding: 20px


         