@use '../abstract/variaveis.sass'

main
    cursor: default
    .inicio
        display: flex
        justify-content: space-between
        padding: 20px
        margin: 20px
        align-items: center
        .container-titulo
            #titulo
                font-family: variaveis.$main-font
                font-size: 80px
                text-align: left
        .container-logo
            .logo
                background: linear-gradient(white, white) padding-box, linear-gradient(to right, #3b3634, #a89187) border-box
                border-radius: 50em
                border: 5px solid transparent
    .descricao
        margin-top: 30px
        padding: 20px
        font-family: variaveis.$main-font
        text-align: center
        h2
            font-size: 40px
            font-weight: bold
        ul
            list-style-type: none
            margin: 0
            padding: 0
            font-size: 24px
    @media (max-width: 980px)
        .inicio
            display: block
            justify-content: center
            text-align: center
            padding-bottom: 0
            .container-titulo 
                text-align: center
                #titulo
                    font-size: 66px
            .container-logo
                text-align: center
                margin-bottom: 0
                padding-bottom: 0
                .logo
                    padding: 10px
        .descricao
            margin-top: 20px
            padding: 15px
            h2
                font-size: 34px
            ul
                font-size: 22px
    @media (max-width: 770px)
        .inicio
            .container-titulo
                #titulo
                    font-size: 62px
            .container-logo
                .logo
                    padding: 10px
        .descricao
            h2
                font-size: 32px
            ul
                font-size: 20px
    @media (max-width: 550px)
        .inicio
            .container-titulo
                #titulo
                    font-size: 50px
            .container-logo
                .logo
                    padding: 10px
        .descricao
            h2
                font-size: 30px
            ul
                font-size: 18px
    @media (max-width: 420px)
        .inicio
            .container-titulo
                #titulo
                    font-size: 46px
            .container-logo
                .logo
                    padding: 10px
        .descricao
            h2
                font-size: 28px
            ul
                font-size: 16px
   


                
                    


                    


         