@use '../abstract/variaveis.sass'

main
    cursor: default
    .inicio
        justify-content: center
        .container-titulo
            box-sizing: border-box
            margin: 100px 200px
            padding: 100px
            border-width: 5px
            border-style: solid
            border-image: linear-gradient(to right, #3b3634, #bda499) 1
            #titulo
                font-family: variaveis.$main-font
                font-size: 2rem
                text-align: center
                color: variaveis.$primary-color
        .container-logo
            text-align: center
            .logo
                background: linear-gradient(white, white) padding-box, linear-gradient(to right, #3b3634, #a89187) border-box
                border-radius: 50em
                border: 5px solid transparent
    .descricao
        margin-top: 30px
        padding: 20px
        font-family: variaveis.$main-font
        text-align: center
        h2
            font-size: 40px
            font-weight: bold
        ul
            list-style-type: none
            margin: 0
            padding: 0
            font-size: 24px
    @media (max-width: 922px)
        .inicio
            .container-titulo
                margin: 90px
                padding: 80px
                #titulo
                    font-size: 1.8rem
        .descricao
            margin-top: 20px
            h2
                font-size: 28px
            ul
                font-size: 18px
    @media (max-width: 663px)
        .inicio
            .container-titulo
                margin: 30px
                padding: 40px
                #titulo
                    font-size: 1.4rem


                    


         