@use '../abstract/variaveis.sass'

header
    .navbar
        margin: 8px
        font-weight: bold
        font-size: 1.5vw
        font-family: variaveis.$main-font
        .pagination 
            text-align: center
            justify-content: center
            margin-top: 3em
            a
                color: variaveis.$primary-color
                font-family: 'Libre Baskerville', serif
                &:hover
                    color: black
                    transition: 0.5s
    @media (max-width: 1080px)
        .navbar
            font-size: 16px

