@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500;700;800&display=swap");
body .container-apresentacao {
  background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: cover;
  animation: colors 15s ease infinite;
  background-size: 300% 300%;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body .container-projetos {
  background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: cover;
  animation: colors 15s ease infinite;
  background-size: 300% 300%;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main .container-apresentacao {
  margin: 0;
  padding-top: 5%;
  cursor: default;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid;
  -o-border-image: linear-gradient(to left, #a89187, #cd8d7b, #a89187) 5;
     border-image: linear-gradient(to left, #a89187, #cd8d7b, #a89187) 5;
}
main .container-apresentacao .container-intro {
  width: 80%;
  color: white;
  text-transform: uppercase;
}
main .container-apresentacao .container-intro h2 {
  font-weight: 800;
  font-size: 8.4rem;
  line-height: 0.9;
}
main .container-apresentacao .container-intro h1 {
  font-weight: 800;
  font-size: 3.8rem;
}
main .container-apresentacao .container-intro .lista-links {
  display: flex;
  align-items: center;
}
main .container-apresentacao .container-intro .lista-links .icones-links {
  margin-left: 5px;
}
main .container-apresentacao .container-intro .lista-links .icones-links a {
  text-decoration: none;
  color: white;
}
main .container-apresentacao .container-intro .lista-links .icones-links a .bi-linkedin:hover {
  margin-top: 10%;
  color: #ade2ff;
  transition: 0.5s;
}
main .container-apresentacao .container-intro .lista-links .icones-links a .bi-github:hover {
  margin-top: 10%;
  color: #e3b3ff;
  transition: 0.5s;
}
main .container-apresentacao .container-intro .lista-links .icones-links a .bi-file-earmark-text-fill:hover {
  margin-top: 10%;
  color: #c2ffb3;
  transition: 0.5s;
}
main .container-apresentacao .container-intro .breve-intro p {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-size: 1.5rem;
  margin-left: 5px;
  max-width: 80%;
}
@media (max-width: 1370px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 8rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 3.2rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 60px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 7rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 2.8rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 55px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 1.1rem;
  }
}
@media (max-width: 880px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 6rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 2rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 50px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 1rem;
  }
}
@media (max-width: 720px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 5.2rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 1.6rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 45px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 1rem;
  }
}
@media (max-width: 610px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 4.8rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 1.1rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 40px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 1rem;
  }
}
@media (max-width: 570px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 4.2rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 1rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 35px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  main .container-apresentacao .container-intro h2 {
    font-size: 3.3rem;
  }
  main .container-apresentacao .container-intro h1 {
    font-size: 1rem;
  }
  main .container-apresentacao .container-intro .lista-links .icones-links a .bi {
    width: 28px;
  }
  main .container-apresentacao .container-intro .breve-intro p {
    font-size: 0.8rem;
  }
}

main .container-projetos {
  display: flex;
  justify-content: center;
}
main .container-projetos .projeto {
  background-color: rgba(0, 0, 0, 0.368627451);
  padding: 20px;
  cursor: default;
  text-align: center;
}
main .container-projetos .projeto img {
  width: 100%;
}
main .container-projetos .projeto .descricao-projeto {
  margin-top: 20px;
}
main .container-projetos .projeto .descricao-projeto .link-projeto {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  padding: 20px;
  border-width: 5px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #3b3634, #a89187) 1;
     border-image: linear-gradient(to right, #3b3634, #a89187) 1;
  color: #3b3634;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  transition: 0.5s;
}
main .container-projetos .projeto .descricao-projeto .link-projeto:hover {
  border-width: 5px;
  -o-border-image: linear-gradient(to top, #a89187, #3b3634) 1;
     border-image: linear-gradient(to top, #a89187, #3b3634) 1;
  transition: 0.5s;
}
@media (max-width: 770px) {
  main .container-projetos .projeto .descricao-projeto .link-projeto {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  main .container-projetos .projeto .descricao-projeto .link-projeto {
    font-size: 22px;
  }
}
@media (max-width: 440px) {
  main .container-projetos .projeto .descricao-projeto .link-projeto {
    font-size: 20px;
  }
}
main .container-projetos .projeto .descricao-projeto p {
  margin: 20px;
  font-size: 24px;
}
@media (max-width: 770px) {
  main .container-projetos .projeto .descricao-projeto p {
    font-size: 22px;
  }
}
@media (max-width: 550px) {
  main .container-projetos .projeto .descricao-projeto p {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  main .container-projetos .projeto .descricao-projeto p {
    font-size: 16px;
  }
}

footer {
  cursor: default;
  padding: 20px;
}
footer .email-footer {
  justify-content: center;
  text-align: center;
  margin: auto;
}
footer .email-footer p {
  color: rgb(46, 46, 46);
  font-size: 22px;
  margin-top: 20px;
}
@media (max-width: 770px) {
  footer .email-footer p {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  footer .email-footer p {
    font-size: 18px;
    margin-top: 12px;
  }
}
@media (max-width: 440px) {
  footer .email-footer p {
    font-size: 16px;
    margin-top: 10px;
  }
}
footer .nav a {
  text-decoration: none;
  color: black;
}
footer .nav-link .bi-github:hover {
  color: #9b58e7;
  transition: 1s;
}
footer .nav-link .bi-linkedin:hover {
  color: #0A66C2;
  transition: 1s;
}
footer .nav-link .bi-spotify:hover {
  color: #22C95C;
  transition: 1s;
}
footer .nav-link .bi-instagram:hover {
  color: #D52C66;
  transition: 1s;
}
@media (max-width: 770px) {
  footer .nav-link .bi {
    width: 40px;
  }
}
@media (max-width: 550px) {
  footer .nav-link .bi {
    width: 30px;
  }
}
@media (max-width: 440px) {
  footer .nav-link .bi {
    width: 20px;
  }
}

.container-logo {
  justify-content: center;
  margin-top: 40px;
}
.container-logo .logo {
  margin: auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */